@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Checkout
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <!-- Your existing code for delivery information -->
        </div>
        <div class="col-lg-4">
            <!-- Your existing code for order summary -->
            <!-- Your existing code for payment method -->
            <!-- Payment Completion Section -->
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Hoàn thành thanh toán</h4>
                </div>
                <div class="card-body">
                    <p>Xác nhận thanh toán thành công!</p>
                    <p>Cảm ơn bạn đã mua hàng. Đơn hàng của bạn đã được xử lý thành công.</p>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <a href="/" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Quay lại trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>
